<!DOCTYPE html>
<html>
<head>
  <title>Netzke Task Manager</title>
  <%= netzke_init %>
  <%= csrf_meta_tag %>
  <style type="text/css" media="screen">
    h1 { text-align: center; margin: 10px;}
    .netzke-component { margin: auto; }
  </style>
</head>
<body>
<%= yield %>
</body>
</html>
